<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">

    <div class="fixed-header" th:fragment="topBar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Yhy's Blog</a>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="/index">Index</a></li>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/blogStart">Blogs</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="/loginJump">Login/Register</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

</html>