<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <div id="sidebar417" th:fragment="commonSideBar">
        <a href="" class="aaa417">All Blogs</a><div class="space417"></div>
        <a href="" class="aaa417">JavaSE</a><div class="space417"></div>
        <a href="" class="aaa417">JavaEE</a><div class="space417"></div>
        <a href="" class="aaa417">MySQL</a><div class="space417"></div>
        <a href="" class="aaa417">SSM</a><div class="space417"></div>
        <a href="" class="aaa417">SpringBoot</a><div class="space417"></div>
        <a href="" class="aaa417">SpringCloud</a><div class="space417"></div>
        <a href="" class="aaa417">Other Spring Frameworks</a><div class="space417"></div>
        <a href="" class="aaa417">Other techniques</a>
    </div>
</head>

</html>